In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [17]:
dataset = pd.read_csv('hiring.csv')

In [18]:
dataset['experience'].fillna(0, inplace=True)
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [19]:
dataset.head()

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [20]:
X = dataset.iloc[:, :3]

In [21]:
X.head()

  experience  test_score  interview_score
0          0         8.0                9
1          0         8.0                6
2       five         6.0                7
3        two        10.0               10
4      seven         9.0                6

In [22]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]
    
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [23]:
y = dataset.iloc[:, -1]

In [24]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression()

In [25]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [26]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53290.89255945]